body {
    padding: 10px;
}

.auction-box {
    height: 250px;
    width: 100%;
    border: 1px grey solid;
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.image-box {
    height: 100%;
    width: 40%;
    margin-right: 20px;
    overflow: hidden;
}

.l-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-box {
    height: 100%;
    width: 40%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.m-box {
    margin-bottom: 7px;
}

.c-tex {
    color: grey;
    font-size: 12px;
    line-height: 0.8em;
}

.list-link {
    text-decoration: none;
    color: black;
}

.list-link:hover {
    text-decoration: none;
    color: black;
}

.list-box {
    display: flex;
    flex-direction: column;
}

.imagelist-box {
    height: 100%;
    width: 70%;
    overflow: hidden;
}

.dec-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-box {
    height: 150px;
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.choice-pair {
    display: flex;
}

.choice-pair > a {
    margin-left: 10px;
    padding: 5px 25px;
}

